# Assignment 1

ans 1.  In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators
.

     *  = Mathematical operators 
     'hello' = String 
     -87.8 = Float
     - = Mathematical operators 
     / = Mathematical operators 
     +	= Mathematical operators 
     6 = Integer

ans 2. Diffrence between string and variable 

      = Variables are the location where we define the value , value can be in any format like int,float,strings etc.
      = strings are the data types. which can be given by the " _ ".

ans 3. Types of data types 

       1. int = this is the numerical value from 0 to infinte. only whole numbers comes under this. which store inside the 
                 computer memory. 
       2. Float = this is also numerical value from 0 to infinite but it contains decimal values inside the computer memory.
       3. String = this is the type of data type which store alphatic data inside the computer memory.

ans4 .=

        Expression made up of operators, variables , values etc based on syntax of the progrrame.
        Expression represents the value.

ans5. = Diffrence between statement and expression.

        A statement is a complete line of code that performs some action, while an expression is any section of the code that evaluates to a value. Expressions can be combined “horizontally” into larger expressions using operators, while statements can only be combined “vertically” by writing one after another, or with block constructs. Every expression can be used as a statement (whose effect is to evaluate the expression and ignore the resulting value), but most statements cannot be used as expressions.

ans6. =

In [4]:
bacon =22

In [5]:
bacon+1

23

In [6]:
bacon

22

so the variable bacon contain vlaue and i.e.=22

ans7. =

In [7]:
"spam"+"spamspam"

'spamspamspam'

In [8]:
"spam"*3

'spamspamspam'

ans8. = 
   
    beacuse we can not define any integer as a variable. thats y eggs is a valid variable name and 100 is not

ans9. =

     below are the functions we can use to get the integer,float and string version of values.
     int()
     float()
     str()

ans10.=

In [10]:
'I have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

In [11]:
'I have eaten'+str("99")+'burritos'

'I have eaten99burritos'

this expression cause error beacuse my programe can not add string value with integer value. so i defined that integer value
as string value than run the progrrame.